:root {
    --cream: #fffdf7;
    --other: #d8e2dc;
}

.body-container {
    display: flex;
    justify-content: space-evenly;
    background-image: url(../Images/beach\ \(3\).jpeg);
    background-size: cover;
    font-family: 'Baloo 2', cursive;
}

.jumbotron {
    margin-bottom: 0rem;
    color: white;
    background-image: url(../Images/beach\ \(2\).jpeg);
    background-size: cover;
    font-family: 'Shrikhand', cursive;

}

#dashboard {
    color: var(--cream);
    font-size: 4.5rem;
}

.header-info {
    color: var(--cream);
    text-align: center;
    font-size: 2.5rem;
}

.nav-container {
    width: 28%;
}

.navbar {
    width: 100%;
    justify-content: center;
    border-radius: 15px;
    margin: 0rem 2% 4% 2%;
    background-color: var(--other);
}

.form-control{
    background-color: var(--cream);
}


.list-group {
    width: 100%;
}

.list-group-item {
    background-color: var(--other);
}

#card-container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.forecast-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

h2 {
    margin: 1%;
}

#search-bar {
    display: block;
    width: 170px;
    
}

.button-div {
    margin: 2%;
}

.card {
    margin: 1%;
    border-radius: 15px;
    background-color: var(--other);
    
}

.featured {
    height: 55%;
    width: 90%;
    margin: 0rem 5% 5% 5%;
    border-radius: 15px;
    background-color: var(--other);
    
}

.header-div {
    height: 75px;
    display: flex;
    align-content: center;
}

#current-date {
    margin-left: 3%;
}

#city-name {
    margin: 3%;
    display: inline;
    height: 100%;
}

#uv {
    display: flex;
    flex-direction: row;
} 

.hidden {
    display: none;
}

.visible {
    display: inline;
}

img {
    display: inline;
}

h6 {
    padding: 3%;
    margin: 3%;
}

.forecast-cards {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: 65%;
}

.daily {
 width: 20%;
 height: 100%;
}

.card-body p {
    font-size: .85rem;
}

.icon {
    height: 25%;
    text-align: center;
}
