.body-container {
    display: flex;
    justify-content: space-evenly;
}

h1, p {
    text-align: center;
}

.nav-container {
    width: 28%;
}

.navbar {
    width: 100%;
}

.list-group {
    width: 100%;
    /* height: 75%; */
}

.forecast-container {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    width: 100%;
}

h2 {
    margin: 1%;
}

.forecast-cards {
    display: flex;
    width: 100%;
    height: 100%;
}

.card {
    margin: 2%;
    padding: 1%;
    
}

.featured {
    height: 70%;
    width: 100%;

}

h4 {
    padding: 2%;
    display: inline;
}

.hidden {
    display: none;
}

.visible {
    display: inline;
}

img {
    display: inline;
}

h6 {
    padding: 1.5%;
}

.daily {
    height: 10rem;
    width: 8rem;
}
